@media screen and (min-width: 1120px) {
    .result {
        position: relative;
        height: 7em;
        z-index: -1;

    }
 .shrink{
    display: block;
        text-align: center;
        margin: 2em;
    
    }
    .center {
        margin: 2em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 6em;

    }

    .center p {
        width: 70%;
        margin: auto;
        text-align: left;
        font-size: 1em;
        margin-top: 1.5em;

    }

    .center img {
        display: block;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 95%;
    }

    .shrink img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
       height: auto;
        margin-bottom: 0;
    }

    h1 {
        font-size: 2em;
        text-decoration: none;
        color: #FF669C;
        text-align: center;
    }
}

@media screen and (max-width: 1120px) {
    .result {
        position: relative;
        height: 3em;
        z-index: -1;

    }

    .center {
        margin: 2em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
  margin-bottom: 5em;
    }

    .center p {
        width: 70%;
        margin: auto;
        font-size: 1em;
        margin-top: 1.3em;
    }

    .center img {
        display: block;
        margin-top: 0em;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        height: 95%;
    }

    .shrink img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: 30%;
    }
    .shrink{
    display: block;
        text-align: center;
        margin: 2em;
    
    }

    h1 {
        font-size: 2em;
        text-decoration: none;
        color: #FF669C;
        text-align: center;
    }

}
