
@media screen and (min-width: 1120px) {

    .result {
        position: relative;
        height: 7em;
        z-index: -1;

    }

    h1 {
        position: static;
        display: block;
        border-bottom-style: solid;
        border-color: gainsboro;
        border-width: thin;
        font-size: 90%;
        font-style: normal;
        margin-top: 3em;
        margin-left: 12%;
         margin-right: 12%;


    }

    .imagebox {
        position: static;
        width: auto;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: space-evenly;
        margin: 0em 10em;


    }

    .box {

        display: flex;
        flex-direction: column;
        background-color: transparent;


    }

    .box img {

        width: 15em;
        margin: 0.5em;
        opacity: 1;
        transition-duration: 0s;
    }

    .box img:hover,
    .box img:focus {
        width: 15em;
        margin: 0.5em;
        /*        opacity: 0.7;*/

    }

    .box p {
        font-size: 90%;
        color: black;
        text-align: left;
        margin-bottom: 2em;
        margin-left: 1.4em;
    }

    .box h2 {
        width: 15em;
        font-size: 90%;
        text-align: left;
        color: black;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
        margin-left: auto;
        margin-right: auto;
    }

    .box a {
        text-decoration: none;
    }



    .load {
        text-align: center;
        margin: 1em 0em 3em 0em;

    }

    .load button {
        font-size: 1em;
        background-color: #f66a9b;
        color: black;
        width: 17em;
        height: 3em;
        border-style: none;
        transition-duration: 0.3s;

    }

    .load button:hover,
    .load button:focus {
        color: white;
        width: 17em;
        height: 3em;
        opacity: 0.7;


    }
    .addtobag {
        display: inline-block;
        border: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 5%;
        padding-right: 5%;
        color: white;
        background-color: rgb(230, 101, 140);
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.5s;
        text-align: center;
    }

    .addtobag:hover,
    .addtobag:focus {
        background-color: rgba(233, 113, 149, 0.5);
    }
}

@media screen and (max-width: 1120px) {
       .result {
        position: relative;
        height: 3em;
        z-index: -1;

    }

  h1 {
        position: static;
        display: block;
        border-bottom-style: solid;
        border-color: gainsboro;
        border-width: thin;
        font-size: 90%;
        font-style: normal;
        margin-top: 3em;
       margin-left: 16%;
         margin-right: 16%;


    }

    .imagebox {
        width: auto;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: space-evenly;
        margin: 0em 10em;



    }

    .box {
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: transparent;


    }

    .box img {
        margin: 0.5em;
        width: 18em;
        opacity: 1;
        transition-duration: 0s;
    }

    .box img:hover,
    .box img:focus {
        margin: 0.5em;
        width: 18em;

        /*        opacity: 0.7;*/
        transition-duration: 0s;
    }

    .box p {
        font-size: 90%;
        color: black;
        text-align: left;
        margin-bottom: 2em;
        margin-left: 1.5em;

    }

    .box h2 {
        width: 18em;
        font-size: 90%;
        text-align: left;
        color: black;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
        margin: auto;
    }

    .box a {
        text-decoration: none;
    }



    .load {
        text-align: center;
        margin: 1em 0em 3em 0em;

    }

    .load button {
        font-size: 1em;
        background-color: #f66a9b;
        color: black;
        width: 17em;
        height: 3em;
        border-style: none;
        transition-duration: 0.3s;

    }

    .load button:hover,
    .load button:focus {
        color: white;
        width: 17em;
        height: 3em;
        opacity: 0.7;


    }
    .addtobag {
        display: inline-block;
        border: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 5%;
        padding-right: 5%;
        color: white;
        background-color: rgb(230, 101, 140);
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.5s;
        text-align: center;
    }

    .addtobag:hover,
    .addtobag:focus {
        background-color: rgba(233, 113, 149, 0.5);
    }
}
