body {
    margin: 0em;
    background-color: #fef9fc;

}




@media screen and (min-width: 1120px) {
    .result {
        position: relative;
        height: 8em;
        z-index: -1;

    }



    .info {
        margin-top: 4em;
        margin-left: 12%;
        margin-right: 12%;
        width: auto;
        height: auto;
        display: flex;
        flex-flow: nowrap;
        flex-grow: 1;
        align-items: flex-end;
        list-style: none;

    }

    .info img {
        width: 25em;
        height: 60%;
    }

    .info-text {
        margin: auto;
    }

    .info-text p {
        font-size: 1.3em;
    }

    .addtobag {
        display: inline-block;
        border: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 25%;
        padding-right: 25%;
        color: white;
        background-color: rgb(230, 101, 140);
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.5s;
        text-align: center;
    }

    .addtobag:hover,
    .addtobag:focus {
        background-color: rgba(233, 113, 149, 0.5);
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        /* padding-left:2em; */
        font-size: 12px;
        text-align: left;
    }

    li {
        font-size: 1em;
    }

    .detail {
        margin: 4em 0em;
        display:
    }

    .center {
        padding-top: 5em;
        padding-bottom: 5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        /*  background-color: blue;*/
    }

    .center img {
        display: block;
        margin: auto;
        width: 3%;
        height: 3%;
    }

    .center p {
        text-align: left;
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;

    }
}
    @media screen and (max-width: 1120px) {
 .result {
        position: relative;
        height: 4em;
        z-index: -1;

    }



    .info {
        margin-top: 2em;
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
        height: auto;
        display: flex;
        flex-flow:wrap;
        flex-grow: 1;
        align-items:center;
        list-style: none;

    }

    .info img {
        width: 15em;
        height: auto;
        margin: auto;
    }

    .info-text {
        margin: auto;
        
    }

    .info-text p {
        font-size: 1.1em;
    }

    .addtobag {
        display: inline-block;
        border: none;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 25%;
        padding-right: 25%;
        color: white;
        background-color: rgb(230, 101, 140);
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.5s;
        text-align: center;
    }

    .addtobag:hover,
    .addtobag:focus {
        background-color: rgba(233, 113, 149, 0.5);
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        
        font-size: 0.8em;
        text-align: left;
    }

    li {
        font-size: 1em;
    }

    .detail {
        margin: 2em 0em;
     
    }

    .center {
        padding-top: 3em;
        padding-bottom: 3em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      
    }

    .center img {
        display: block;
        margin: auto;
        width: 3%;
        height: 3%;
    }

    .center p {
        text-align: left;
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;

    }
        

    }

