body {
    /*    font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
    font-weight: 400;
    margin: 0em;
    background-color: #fef9fc;

}

.addtobag {
  display: inline-block;
  border:none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  background-color:  rgb(230,101,140);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-align:center;
}


@media screen and (min-width: 1120px) {
     .result {
        position: relative;
        height: 8em;
        z-index: -1;

    }


    .pay {
     position: static;
        width: auto;
        height: auto;
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        /* padding-left: 2em; */
    }



    .sp {
        height: auto;
        width: 100%;
        margin-left: 8%;
         margin-right: 8%;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
    }

    .address {

        width: 40%;
        height: auto;
        display: inline-block;
        margin: 0;


    }

    .name {
       margin: auto;
        width: 100%;
        height: auto;
        display: inline-block;

    }

    .name input {
        margin: 0.4em 0em;
        width: 16em;
        background-color: white;
        border-style: solid;
        border-color: black;
        border-width: 0.01em;
        height: 1.8em;
    }

    .address2 {
        width: 40%;
        height: auto;
        width: 80%;
        margin: 0;
    }

    .address2 p {
        margin-top: 0.3em;

    }

    .address2 input {
         border-style: solid;
        border-color: black;
        border-width: 0.01em;
        height: 1.8em;
        width: 34.5em;
    }

    .method {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        margin: 0;
    }

    .card input {
        height: 1.8em;
        width: 34.5em;
        margin-right: 2em;
        border-style: solid;
        border-color: black;
        border-width: 0.01em;

    }

    .num input {
         border-style: solid;
        border-color: black;
        border-width: 0.01em;
        width: 15.5em;
        height: 1.8em;
        margin-right: 1em;

    }

    .cardType {
        margin: 0.5em;

    }

    .cardType input {
        margin-left: 1em;
    }
}
