body {
    /*    font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
    font-weight: 400;
    margin: 0em;
    background-color: #fef9fc;

}

.pay{
width: auto;
    height: auto;
position: relative;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
}

 .result {
        position: relative;
        height: 9em;
        z-index: -1;
      
    }

.sp {
    height: auto;
    width: auto;
margin: auto;
    justify-content:flex-start;
    display: flex;

    flex-flow: row wrap;
}

.address {
    position: relative;
    width: 45%;
    height: auto;
    display: inline-block;
    margin: 0;


}

.name {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;

}
.name input{
margin: 0.4em 0em;
    width: 16em;
    background-color:
        #ededed;
    border-style: solid;
    border-color: black;
    border-width: 0.01em;
    opacity: 0.4;
    height: 1.8em;
}

.address2 {
    position: relative;
    width: 45%;
    height: auto;
    width: 80%;
    margin: 0;
}

.address2 p {
    margin: 0em;

}

.address2 input {
    height: 1.8em;
    width: 34.5em;
}

.method {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0;
}

.card input {
    position: relative;
    height: 1.8em;
    width: 50em;
    margin-right: 2em;

}

.num input {
    position: relative;
    width: 15.5em;
    height: 1.8em;
    margin-right: 1em;

}

.cardType {
    margin: 0.5em -1em;
}

.cardType input {
    margin-left: 1em;
}