.bt {
    display: block;
   
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
@media screen and (min-width: 1120px) {
    .result {
        position: relative;
        height: 8em;
        z-index: -1;

    }

}

@media screen and (max-width: 1120px) {
    .result {
        position: relative;
        height: 4em;
        z-index: -1;

    }

}

@media screen and (min-width: 722px) {
    .pay {

        position: static;
        width: auto;
        height: auto;
        display: flex;
        flex-flow: nowrap;
        align-items: center;

    }



    .sp {
        height: auto;
        width: 100%;
        margin-left: 8%;
        margin-right: 8%;
        justify-content: flex-start;
        display: flex;
        flex-flow: row wrap;
    }

    .address {
        width: 40%;
        height: auto;
        display: inline-block;
        margin: 0;


    }

    .name {
        margin: auto;
        width: 100%;
        height: auto;
        display: inline-block;

    }

    .address label {
        margin-top: 0.7em;

    }

    .name input {
        margin: 0.8em 0em;
        width: 16em;
        background-color: white;
        border-style: solid;
        border-color: black;
        border-width: 0.01em;
        height: 1.8em;
    }

    .address2 {
        width: 40%;
        height: auto;
        margin: 0;
    }

    .address2 p {
        margin-top: 0.3em;

    }

    .address2 input {
        border-style: solid;
        border-color: black;
        border-width: 0.01em;
        height: 1.8em;
        width: 34.5em;
    }

    .method {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;

    }

    .card input {
        height: 1.8em;
        width: 34.5em;
        margin-right: 2em;
        border-style: solid;
        border-color: black;
        border-width: 0.01em;

    }

    .num input {
        border-style: solid;
        border-color: black;
        border-width: 0.01em;
        width: 21em;
        height: 1.8em;
        margin-right: 1em;

    }

    .cardType {
        display: flex;
        margin-top: 0.8em;

    }

    .cardType input {}

/*
    .addtobag {
        display: inline-block;
        border: none;
        width: 14em;
        height: 2.5em;
        padding-top: 1em;
        color: white;
        background-color: rgb(230, 101, 140);
        text-decoration: none;
        text-align: center;
    }
*/

}

@media screen and (max-width: 722px) {
    .pay {

        position: static;
        width: auto;
        height: auto;
        display: flex;
        flex-flow: nowrap;
        align-items: center;

    }



    .sp {
        height: auto;
        width: 100%;
        margin-left: 8%;
        margin-right: 8%;
        justify-content: flex-start;
        display: flex;
        flex-flow: row wrap;
    }

    .address {
        width: 40%;
        height: auto;
        display: inline-block;
        margin: 0;


    }

    .name {
        margin: auto;
        display: flex;
        flex-flow: column;
        height: auto;


    }

    .address label {
        margin-top: 0.7em;

    }

    .name input {
        margin: 0.8em 0em;
        width: 31em;
        background-color: white;
        border-style: solid;
        border-color: black;
        border-width: 0.01em;
        height: 1.8em;
    }

    .address2 {
        width: 40%;
        height: auto;
        margin: 0;
    }

    .address2 p {
        margin-top: 0.3em;

    }

    .address2 input {
        border-style: solid;
        border-color: black;
        border-width: 0.01em;
        height: 1.8em;
        width: 31em;
    }

    .method {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;

    }

    .card input {
        height: 1.8em;
        width: 31em;
     
        border-style: solid;
        border-color: black;
        border-width: 0.01em;

    }
 
    .num input {
        border-style: solid;
        border-color: black;
        border-width: 0.01em;
        width: 14.7em;
        height: 1.8em;
        

    }
    
    #a{
    margin-right: 1em;
    }

    .cardType {
        display: flex;
        margin-top: 0.8em;

    }

    

    

}

    .addtobag {
        display: block;
        border: none;
        width: 14em;
        height: 2.5em;
        padding-top: 1em;
        color: white;
        background-color: rgb(230, 101, 140);
        text-decoration: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }


