body {
    /*    font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
    font-weight: 400;
    margin: 0em;
    background-color: #fef9fc;

}


@media screen and (min-width: 300px) and (max-width: 1120px) {
    .topright {
        display: none;
    }


    .logo {
        display: block;
        margin: 0 auto;
        max-width: 8em;
        width: 25%;
        margin-top: 0em;

    }

    header {
        background-color: #FCEFF3;
        height: 5em;
        position: fixed;
        width: 100%;


    }

    .navbar {
        display: none;
    }

    .mobile {}



    .topnav {
        background-color: #F8BACA;
        position: fixed;
        display: inline-block;
        width: 100%;

    }

    .topnav p {
        margin-top: 2.5em;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        border-bottom: 0.2em;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        border-bottom-width: thick;
        color: black;
        padding: 0.8em 1em;
        text-decoration: none;
        font-size: 17px;
        display: table;
        margin-left: 1em;
    }

    .topnav a.icon {

        background: black;
        display: block;
        position: fixed;
        left: 0.8em;
        top: 0.5em;
    }

    .topnav a:hover {
        border-bottom: 0.2em;
        border-bottom-style: solid;
        border-bottom-color: #f66a9b;
        border-bottom-width: thick;
    }

    .sale {
        margin-top: 5em;
        width: 100%;
    }

    .mobilelogin {

        text-align: center;
    }

    #log {
        display: inline-block;
        background-color: white;
        width: 30%;
    }

    .sale1 {
        margin: 1em;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 1120px) and (max-width: 1600px) {
    header {
        background-color: #FCEFF3;
        height: 8em;
        position: fixed;
        width: 100%;
        margin-top: -1em;

    }

    .logo {
        display: block;
        width: 11em;
        margin: -5.5em 45%;

    }

    .topright {
        padding: 2em 0em;
        text-align: right;
        display: block;
        width: 98%;

    }

    .topright a {
        font-size: 0.8em;
        text-decoration: none;
    }

    .sale {
        margin-top: 5em;
        width: 100%;
    }

    .navbar {
        margin-top: -1em;
        font-size: 0.8em;
        overflow: hidden;
        text-align: center;
        background-color: #FCEFF3;
        text-decoration: none;
    }

    .ca {
        position: fixed;
        margin-top: 3em;
        width: 100%;
    }

    .navbar a {
        font-size: 1em;
        color: black;
        text-decoration: none;
    }


    nav a:hover,
    nav a:focus {
        text-decoration: none;

    }

    /* dropdown nav bar */
    .dropdown {

        display: inline-block;
        margin: 0em 1.2em 0em 1.2em;
        overflow: hidden;
    }

    .dropdown .dropbtn {

        font-size: 0.3em;
        border: none;
        outline: none;
        color: black;
        padding: 1em 1em 0.5em 1em;
        background-color: inherit;
        font: inherit;
        border-bottom: 0.2em;
        border-bottom-style: solid;
        border-color: transparent;
        border-bottom-width: thick;

    }


    .dropdown:hover .dropbtn,
    .dropdown:focus-within .dropbtn {
        border-bottom: 0.2em;
        border-bottom-style: solid;
        border-bottom-color: #f66a9b;
        border-bottom-width: thick;

    }

    .dropdown-content {

        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 1;
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:focus-within .dropdown-content {
        display: block;
    }




    /* Create three equal columns that floats next to each other */
    .column {
        width: 10.5%;
        padding: 2em;
        height: 14em;
        margin: 0em 0em 2em 0em;
    }

    .row {
        width: 100%;
        background-color: #F8BACA;
        display: flex;
        padding: 0.5em 0em 0em 5em;

    }


    .column p:hover {
        border-bottom: 0.2em;
        border-bottom-style: solid;
        border-bottom-color: #f66a9b;
        border-bottom-width: medium;
    }

    .column p {
        font-size: 0.9em;
        border-bottom: 0.2em;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        border-bottom-width: medium;
        text-align: left;
        display: table;
        padding: 0.2em;

    }



    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column img {
        width: 100%;
        height: auto;

    }

    .sale1 {
        margin: 5em;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .showimg {
        width: 20%;
        height: auto;
        margin: 1em 1em 1em 1em;

    }


}





/* footer */
footer {
    width: 100%;
    height: 4em;
    background-color: #FCEFF3;
    font-size: 0.8em;
    padding: 2em 0em 4em 0em;
    text-align: center;
    margin: 0;
}




.show {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8BACA;
    text-align: center;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;

}

@media screen and (min-width: 1120px) {
    .showimg {
        width: 20%;
        height: auto;
        margin: 1em 1em 1em 1em;

    }

    .showtitle {
        font-size: 0.8em;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #F8BACA;
        text-align: center;
        padding: 1em 0em 0.01em 0em;
    }

    .showimg h3 {
        font-size: 1em;


    }
}

@media screen and (min-width: 320px) and (max-width: 1120px) {
    .show {
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #F8BACA;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;

    }

    .showimg {
        display: block;
        width: 30%;
        height: auto;
        margin: 1em 1em 0em 1em;
    }

    .showimg h3 {
        font-size: 1em;


    }

    .showtitle {
        font-size: 0.8em;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #F8BACA;
        text-align: center;
        padding: 1em 0em 1em 0em;
    }

    .showimg h3 {
        font-size: 1em 0em 0em 0em;


    }

}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .show {
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #F8BACA;
        text-align: center;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;

    }

    .showimg {
        display: block;
        width: 60%;
        height: auto;
        margin: 1em 1em 0em 1em;
    }

    .showimg h3 {
        font-size: 1em;


    }

    .showtitle {
        font-size: 0.8em;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #F8BACA;
        text-align: center;
        padding: 1em 0em 1em 0em;
    }

    .showimg h3 {
        font-size: 1em 0em 0em 0em;


    }

}


.showitem {
    width: 100%;
}



.showbg {
    width: 100%;
    background-color: #F8BACA;
    margin-bottom: 5em;
}

.navimg {
    width: 100%;
    height: 100%;

}

.right {
    width: 1.3%;
    margin-left: 1.6em;
}

.footnav {
    width: 100%;
    height: auto;
    margin-bottom: 1em;

}

.footbt {

    height: auto;
    font-size: 1.2em;
    border: none;
    outline: none;
    color: black;
    padding: 1em 1em 0.5em 1em;
    background-color: inherit;


}

.footbt a {
color: black;
    text-decoration: none;



}

footer p{
    padding-bottom: 2em;
   padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #FCEFF3;
}
