body {
    /*    font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
    font-weight: 400;
    margin: 0em;
    background-color: #fef9fc;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    padding: 0.5em 0em 0em 0em;

}

.topright {
    position: absolute;
    top: 4rem;
    right: 16px;
}



header {
    background-color: #FCEFF3;

}

/*
nav {
    text-align: center;
    background-color: aquamarine;
    padding: 2em;

}

nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: #AC0A1D
}
*/



/* mega dropdown menu */

/*
* {
    box-sizing: border-box;
}
*/


.navbar {
    font-size: 0.8em;
    overflow: hidden;
    text-align: center;
    background-color: #FCEFF3;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}


.navbar a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}


nav a:hover,
nav a:focus {
    text-decoration: none;

}

/* dropdown nav bar */
.dropdown {
    display: inline-block;
    margin: 0em 2.5em;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 0.3em;
    border: none;
    outline: none;
    color: black;
    padding: 1em 1em 0.5em 1em;
    margin: 0em;
    background-color: inherit;
    font: inherit;
    border-bottom: 0.2em;
    border-bottom-style: solid;
    border-color: transparent;

}


.dropdown:hover .dropbtn {
    border-bottom: 0.2em;
    border-bottom-style: solid;

}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}

/*
.dropdown-content .header {
    background: rgb(239, 189, 202);
    padding: 16px;
    color: white;
}
*/

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {
    width: 14%;
    padding: 2em;
    height: 13em;
    margin: 0em 0em 0em 2em;
}

.row {
    width: 100%;
    background-color: #F8BACA;
}


.column p:hover {
    border-bottom: 0.2em;
    border-bottom-style: solid;

}

.column p {
    font-size: 0.9em;
    border-bottom: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    text-align: left;
    display: table;
    padding: 0.2em;

}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }

    .carousel-caption {
        display: none;
    }
}


/* carousel */
.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;

}

.carousel-down img {
    width: 100%;
    margin: auto;

}


/* footer */
footer {
    width: 100%;
    height: 4em;
    background-color: #F8BACA;
    font-size: 0.6em;
    padding: 2em 0em;
    text-align: center;
    margin: 0;
}
