body {
    /*    font-family: Futura, "Trebuchet MS", Arial, sans-serif;*/
    font-weight: 400;
    margin: 0em;
    background-color: #fef9fc;

}
@media screen and (min-width: 1120px) {
    .result {
        position: relative;
        height: 9em;
        z-index: -1;
      
    }
.clear {

    text-align: right;
    margin: 1em 1em 0em 1em;
    width: auto;

}


.clear button {

    background-color: transparent;
    border-color: gray;
    border-width: thin;
    opacity: 0.7;
}

.clear button:hover,
.clear button:focus {
    opacity: 1;
}

.list {
    position: relative;
    height:auto;
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    margin: 0em 10em;
    z-index: -999;
}

.text {
    display: inline-block;
    width: 75%;
    text-align: right;

}

.text h2 {
    display: inline;
    font-size: 1em;
    margin-right: 5em;
}

.listc h2 {
    font-size: 1em;
    text-align: center;
}

.list img {
    width: 50%;
    min-width: 5em;
    height: auto;
    
}


.line {

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: gainsboro;
    margin: 0em 10em;

}



.listc {
    height: auto;
    width:17em;
    display: inline-block;  
    flex-grow: 1;
}
    
    .total{
    text-align:right;
        margin-right: 1em;
    }
    
  .checkout {
        text-align: right;
        margin: 1em 0em 3em 0em;

    }

    .checkout button {
        font-size: 1em;
        background-color: #f66a9b;
        color: black;
        width: 17em;
        height: 3em;
        border-style: none;
        transition-duration: 0.3s;

    }

    .checkout button:hover,
    .checkout button:focus {
        color: white;
        width: 17em;
        height: 3em;
        opacity: 0.7;


    }
}
@media screen and (max-width: 1120px) {
    .result {
        position: relative;
        height: 5em;
        z-index: -1;
      
    }
.clear {
    text-align: right;
    margin: 1em 1em 0em 1em;
    width: auto;

}


.clear button {

    background-color: transparent;
    border-color: gray;
    border-width: thin;
    opacity: 0.7;
}

.clear button:hover,
.clear button:focus {
    opacity: 1;
}

.list {
    position: relative;
    height:auto;
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    margin: 0em 4em;
}

.text {
    display: inline-block;
    width: 50%;
    text-align: right;

}

.text h2 {
    display: inline;
    font-size: 1em;
    margin-right: 5em;
}

.listc h2 {
    font-size: 1em;
    text-align: center;
}

.list img {
    width: 40%;
    min-width: 5em;
    height: auto;
    
}


.line {

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: gainsboro;
    margin: 0em 10em;

}



.listc {
    height: auto;
    width: 100%;
    display: inline-block;  
    flex-grow: 1;
    margin: auto;
}
    
    .total{
    text-align:right;
        margin-right: 1em;
    }

}
