@media screen and (min-width: 1120px) {
    .result {
        position: relative;
        height: 8em;
        z-index: -1;

    }

    h1 {
        margin: 0.5em 10em;
        position: static;
        display: block;
        border-bottom-style: solid;
        border-color: gainsboro;
        border-width: thin;
        font-size: 90%;
        font-style: normal;
        margin-bottom: 1em;
        margin-top: 1em;


    }



    .list {
        height: auto;
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        margin: 0em 10em;
        margin-bottom: 1.5em;
        border-bottom-style: solid;
        padding-bottom: 1em;
        border-color: #f66a9b;
        border-width: thin;
    }



    .listc h3 {
        font-size: 1em;
        text-align: center;
    }

    .listc h2 {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 0em;
    }

    .list img {
        width: 50%;
        min-width: 5em;
        height: auto;

    }



    .listc {
        height: auto;
        width: 17em;
        display: inline-block;
        flex-grow: 1;
        text-align: center;
    }

    .total {
        text-align: right;
        margin-right: 6em;
        font-size: 1.6em;
    }

    .checkout {
        text-align: center;
        margin: 1em 0em 5em 0em;

    }

    .checkout a {
        text-decoration: none;
        color: white;
        width: 15em;
        height: 1em;
        padding: 1em 0em;
        display: inline-block;
        margin-left: -0.5em;
    }

    .checkout button {
        font-size: 1em;
        background-color: #f66a9b;
        width: 15em;
        height: 3em;
        border-style: none;
        text-align: center;
        transition-duration: 0.3s;
        display: inline-block;
        border: none;
        color: white;
        text-decoration: none;
    }

    .checkout button:hover,
    .checkout button:focus {
        transition-duration: 0.3s;
        background-color: rgba(233, 113, 149, 0.5);

    }

}

@media screen and (max-width: 880px) {
    .result {
        position: relative;
        height: 4em;
        z-index: -1;
    }

    h1 {
        margin: 1em 2em;
        position: static;
        display: block;
        border-bottom-style: solid;
        border-color: gainsboro;
        border-width: thin;
        font-size: 90%;
        font-style: normal;
        margin-bottom: 1em;
    }

    .listc h2 {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 0em;
    }



    .list {
        height: auto;
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        margin: 0em 2em;
        margin-bottom: 1.5em;
        border-bottom-style: solid;
        padding-bottom: 1em;
        border-color: #f66a9b;
        border-width: thin;
    }




    .listc h3 {
        font-size: 1em;
        text-align: center;
        margin-left: 1.5em;
    }

    .list img {
        width: 40%;
        min-width: 5em;
        height: auto;

    }


    .listc {
        height: auto;
        width: 100%;
        display: inline-block;
        flex-grow: 1;
        margin: auto;
        text-align: center;
    }

    .total {
        text-align: right;
        margin-right: 1em;
        font-size: 1.3em;
    }

    .checkout {
        text-align: center;
        margin: 2em 0em 3em 0em;

    }


    .checkout a {
        text-decoration: none;
        color: black;
        width: 14em;
        height: 1em;
        padding: 1em 0em;
        display: inline-block;
        margin-left: -0.5em;

    }

    .checkout button {
        font-size: 1em;
        background-color: #f66a9b;
        width: 14em;
        height: 3em;
        border-style: none;
        text-align: center;
        transition-duration: 0.3s;

    }



    .checkout a:hover,
    .checkout a:focus {
        color: white;
        width: 14em;
        height: 3em;
        opacity: 0.7;



    }

    .checkout {
        text-align: center;
        margin: 1em 0em 5em 0em;

    }

    .checkout a {
        text-decoration: none;
        color: white;
        width: 15em;
        height: 1em;
        padding: 1em 0em;
        display: inline-block;
        margin-left: -0.5em;
    }

    .checkout button {
        font-size: 1em;
        background-color: #f66a9b;
        width: 15em;
        height: 3em;
        border-style: none;
        text-align: center;
        transition-duration: 0.3s;
        display: inline-block;
        border: none;
        color: white;
        text-decoration: none;
    }

    .checkout button:hover,
    .checkout button:focus {
        transition-duration: 0.3s;
        background-color: rgba(233, 113, 149, 0.5);

    }


}

@media screen and (min-width: 880px) and (max-width: 1120px) {
    .result {
        position: relative;
        height: 4em;
        z-index: -1;
    }

    h1 {
        margin: 1em 5em;
        position: static;
        display: block;
        border-bottom-style: solid;
        border-color: gainsboro;
        border-width: thin;
        font-size: 90%;
        font-style: normal;
        margin-bottom: 1em;
    }

    .listc h2 {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 0em;
    }

    .clear {
        text-align: right;
        margin: 1em 1em 0em 1em;
        width: auto;

    }


    .clear button {
        background-color: transparent;
        border-color: gray;
        border-width: thin;
        opacity: 0.7;
    }

    .clear button:hover,
    .clear button:focus {
        opacity: 1;
    }

    .list {
        height: auto;
        display: flex;
        flex-flow: nowrap;
        align-items: center;
        margin: 0em 5em;
        margin-bottom: 1.5em;
        border-bottom-style: solid;
        padding-bottom: 1em;
        border-color: #f66a9b;
        border-width: thin;
    }


    .listc h3 {
        font-size: 1em;
        text-align: center;
    }

    .list img {
        width: 40%;
        min-width: 5em;
        height: auto;

    }



    .listc {
        height: auto;
        width: 100%;
        display: inline-block;
        flex-grow: 1;
        margin: auto;
        text-align: center;
    }

    .total {
        text-align: right;
        margin-right: 2em;
        font-size: 1.2em;
    }

    .checkout {
        text-align: center;
        margin: 1em 0em 5em 0em;

    }

    .checkout a {
        text-decoration: none;
        color: white;
        width: 15em;
        height: 1em;
        padding: 1em 0em;
        display: inline-block;
        margin-left: -0.5em;
    }

    .checkout button {
        font-size: 1em;
        background-color: #f66a9b;
        width: 15em;
        height: 3em;
        border-style: none;
        text-align: center;
        transition-duration: 0.3s;
        display: inline-block;
        border: none;
        color: white;
        text-decoration: none;
    }

    .checkout button:hover,
    .checkout button:focus {
        transition-duration: 0.3s;
        background-color: rgba(233, 113, 149, 0.5);

    }


}
